[Unit]
Description=xremap

[Service]
KillMode=process
ExecStart=%h/.cargo/bin/xremap %h/.config/xremap/config.yml
ExecStop=/usr/bin/killall xremap
Type=simple
Restart=always
Environment=RUST_LOG=debug

[Install]
WantedBy=default.target
