# =================================================
#                  tmux auto-start
# =================================================

# Auto-start tmux if not already in a tmux session
if command -v tmux &> /dev/null && [ -z "$TMUX" ]; then
  tmux attach || tmux new
fi

# =================================================
#                     prompt
# =================================================

eval "$(starship init zsh)"

# =================================================
#                      env
# =================================================

export EDITOR=nvim
export HISTSIZE=1000
export SAVEHIST=100000

# =================================================
#                     option
# =================================================

setopt hist_ignore_dups
setopt EXTENDED_HISTORY

# =================================================
#                    functions
# =================================================

# git checkout
gcb() {
  local branches branch
  branches=$(git --no-pager branch -vv) &&
  branch=$(echo "$branches" | fzf +m) &&
  git checkout $(echo "$branch" | awk '{print $1}')
}

# kill process
pskill() {
  local pid
  pid=$(ps -ef | sed 1d | fzf -m | awk '{print $2}')
  if [ -n "$pid" ]; then
    echo $pid | xargs kill -${1:-9}
  fi
}

# repeat history
his() {
  print -z $( ([ -n "$ZSH_NAME" ] && fc -l 1 || history) | fzf +s --tac | sed -E 's/ *[0-9]*\*? *//' | sed -E 's/\\/\\\\/g')
}

# =================================================
#                      alias
# =================================================

{{- if eq .chezmoi.os "darwin" }}
alias ls='ls -G'
{{- else }}
alias ls='ls --color=auto'
{{- end }}
alias ghf='cd `ghq list -p | fzf`'


# =================================================
#                     manager
# =================================================

export PATH="$HOME/.local/bin:$PATH"

# asdf
{{- if eq .chezmoi.os "darwin" }}
[ -f "$(brew --prefix asdf)/libexec/asdf.sh" ] && . "$(brew --prefix asdf)/libexec/asdf.sh"
{{- else }}
[ -d "${ASDF_DATA_DIR:-$HOME/.asdf}" ] && export PATH="${ASDF_DATA_DIR:-$HOME/.asdf}/shims:$PATH"
{{- end }}

# append completions to fpath
fpath=(${ASDF_DATA_DIR:-$HOME/.asdf}/completions $fpath)
# initialise completions with ZSH's compinit
autoload -Uz compinit && compinit

# sheldon
eval "$(sheldon source)"

# =================================================
#                   custom zshrc
# =================================================

[ -f ~/.zshrc.local ] && source ~/.zshrc.local
